.App {
  $nav-bar-height: 48px;
  height: 100vh;

  .nav-bar {
    min-height: $nav-bar-height;
    display: flex;
    justify-content: space-between;

    a {
      color: white;
      text-decoration: none;
    }
  }

  .MuiCardHeader-root {
    padding-bottom: 0px;

    .MuiCardHeader-title {
      font-size: 1.2rem;
    }
  }
  .MuiCardContent-root {
    padding-top: 4px;

    &:last-child {
      padding-bottom: 8px;
    }
  }

  .MuiTextField-root {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
