$nav-bar-height: 48px;

.App {
  .nav-bar {
    min-height: $nav-bar-height;
    display: flex;
    justify-content: space-between;

    a {
      align-items: center;
      color: white;
      display: flex;
      text-decoration: none;
    }

    img.logo {
      height: 24px;
      margin-right: 8px;
    }

    .right-nav {
      display: flex;

      a:not(:last-child) {
        margin-right: 10px;
      }

      // @media to prevent touch devices from showing hover color after press is finished
      @media (hover: hover) {
        svg:hover {
          color: paleturquoise;
        }
      }
    }
  }

  .main-content {
    margin-top: $nav-bar-height;
  }
}
