@import "../App.scss";

.CommandTest {
  .args-wrapper {
    flex-grow: 1;
    margin-right: 10px;
  }

  :first-child {
    margin-top: 0px;
  }

  :last-child {
    margin-bottom: 0px;
  }

  .MuiTextField-root {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  p {
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .test-result {
    max-height: calc(100vh - #{$nav-bar-height} - 140px);
    overflow: auto;

    img {
      max-height: 70vh;
      max-width: 100%;
    }
  }

  .title {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 2px;
  }
}
