.CommandCreator {
  .command-url-and-copy {
    align-items: center;
    display: flex;
    .command-url {
      flex-grow: 1;
      margin-right: 10px;
    }
    .copy-wrapper {
      position: relative;
    }
  }

  .MuiTextField-root {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .title {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 2px;
  }
}
