.CommandTest {
  .args-wrapper {
    flex-grow: 1;
    margin-right: 10px;
  }

  .fabProgress {
    color: cornflowerblue;
    margin-left: -43px;
    margin-top: -3px;
    position: absolute;
  }
}
