@import "../App.scss";

.CommandTest {
  .args-wrapper {
    flex-grow: 1;
    margin-right: 10px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  .MuiTextField-root {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .test-result {
    max-height: calc(100vh - #{$nav-bar-height} - 140px);
    overflow: auto;

    > :first-child {
      margin-top: 0px;
    }

    img {
      max-height: 70vh;
      max-width: 100%;
    }

    > :last-child {
      margin-bottom: 0px;
    }

    p {
      margin-bottom: 0px;
      margin-top: 0px;
    }

    > :first-child:last-child {
      padding-bottom: 4px;
      padding-top: 4px;
    }
  }

  .title {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 2px;
    margin-top: 2px; // account for shift down due to output type icons
  }
}
